#wrapper {
   background-color: #F5F5F5;
   width: 80%;
   min-width: 1200px;
   max-width: 1480px;
   margin-left: auto;
   margin-right: auto;
}

* {
   box-sizing: border-box;
}

table {
   width: 60%;
   border: 1px purple #3F2860;
   border-collapse: collapse;
   margin-bottom : 1em;
}

td, th {
   padding: 5px ;
   border: 1px solid #3F2860;
}

caption {
   margin: 1em;
   font-weight: bold;
   font-size: 120%;
}

tr:nth-of-type(even) {
   background-color: #9BC1C2;
}

header {
   background-color : #9BC1C2;
   padding : 10px;
   background-image: url(lilyheader.jpg);
   background-repeat: no-repeat;
   background-position: right;
   padding-left: 2em;
}

h1 {
   padding-top: 50px;
   padding-left: 2em;
}

body {
   background-color: #F5F5F5;
   background-color: #3F2860;
   color: #3F2860;
}


main {
   padding-left: 2em;
   padding-right: 2em;
   padding-top: 1em;
   margin-left: 170px;
}

.clear {
   clear: both;
}

.floatleft {
   margin-right: 4em;
   float: left;
   border: 3px ridge #000000;
}

p {
   text-decoration: none;
   position: relative;
}

nav {
   padding: 1em;
   border-radius: 60px;
   font-size: 20px;
   font-weight: bold;
   float: left;
   width: 160px;
}

nav ul a :link {
   color: #3F2860;
}

nav ul a :visited {
   color: #497777;
}

nav ul a :hover {
   color #A26100; border: 3px inset #333333;
}

nav ul {
   list-style-type: none;
   padding-left : 0;
}

ul {
   list-style-type: circle;
}

nav a {
   text-decoration: none;
   text-align: center ;
   font-weight: bold ;
   border: 3px outset #cccccc ;
   padding: 1em ;
   margin-bottom : 1em;
   display: block;
}

header, nav, main, footer {
   display: block;
}

footer {
   background-color: #9BC1C2;
   font-size: 0.60em;
   padding: 1em;
   font-style: italic;
   text-align: center;
}

#mobile {
   display: none;
}

#desktop {
   display: inline;
}
